@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Cairo&family=Outfit:wght@300&display=swap');

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-flow: wrap;
  background-color: #282c34;
  color: white;
}

img {
  border-radius: 20px;
  margin: 5px;
}

img:hover {
  box-shadow: 5px 5px 10px #888;
}

h1 {
  font-family: Cairo;
  font-size: 30px;
}


